 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
 
 @media only screen and (max-width: 1280px) {

  #bar {
    left: 30%;
  }
}
 
 @media only screen and (max-width: 1024px) {

  #bar {
    top: 70%;
    left: 20%;
  }
  
 }
 
 @media only screen and (max-width: 912px) {

  body {
    font-size: 14px;
    overflow-x: hidden;
  }


  h1 {
    font-size: 5rem;
  }

  #bar {
    max-width: 100%;
    top: 32%;
    left: 15%;
  }

  #search-input {
    height: 35px;
    max-width: 100%;
    font-size: 14px;
  }

  header {
    height: 50vh;
  }

  .structural {
    position:absolute; 
    left:80px; 
    top: -160%;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    opacity: 0.5;
  }

 #book-list h2 {
    font-size: 1.5rem;
  }


  #book-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }

  .bookCard {
    padding: 2em;
    max-width: 80%;
  }

  .container-description {
    max-width: 100%;
  }

  .description {
    text-align: center;
    line-height: 1.8;
 }

 .read-button {
  background-color: darkblue;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid white;
  padding: 14px 20px;
  padding-top: 10px;
}

.read-button:hover {
  background-color: lightskyblue;
  color: darkblue;
  cursor: pointer;
}
}

@media only screen and (max-width: 576px) {

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
  }

  body {
    font-size: 8px;
    overflow-x: hidden;
  }


  h1 {
    font-size: 2.5rem;
  }

  #bar {
    max-width: 80%;
    top: 35%;
    left: 10%;
  }

  #search-input {
    height: 35px;
    max-width: 80%;
    font-size: 14px;
  }

  header {
    height: 50vh;
  }

  #book-list h2 {
    font-size: 1rem;
  }

  .structural {
    position:absolute; 
    left:80px; 
    top: -120%;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    opacity: 0.5;
  }
  #book-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }

  .bookCard {
    padding: 1em;
    max-width: 80%;
  }

  .container-description {
    max-width: 100%;
  }

  .description {
    text-align: center;
    line-height: 1.8;
 }

 
 .fa-sharp {
  font-size: 15px;
  height: 15px;
  position:relative;
  top: 0;
  left: 10px;
  color: black;
}

.read-button {
  background-color: darkblue;
  color: white;
  font-size: 8px;
  border-radius: 5px;
  border: 1px solid white;
  padding: 5px 10px;
  padding-top: 5px;
}

.read-button:hover {
  background-color: lightskyblue;
  color: darkblue;
  cursor: pointer;
}
}