 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
 

@media only screen and (max-width: 912px) {

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
  }

  body {
    font-size: 14px;
    overflow-x: hidden;
  }


  h1 {
    font-size: 5rem;
  }

  #bar {
    max-width: 100%;
    top: 32%;
    left: 15%;
  }

  #search-input {
    height: 35px;
    max-width: 100%;
    font-size: 14px;
  }

  header {
    height: 50vh;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  #book-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }

  .bookCard {
    padding: 2em;
    max-width: 80%;
  }

  .container-description {
    max-width: 100%;
  }

  .description {
    text-align: center;
    line-height: 1.8;
 }
}

@media only screen and (max-width: 576px) {

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
  }

  body {
    font-size: 8px;
    overflow-x: hidden;
  }


  h1 {
    font-size: 2.5rem;
  }

  #bar {
    max-width: 80%;
    top: 35%;
    left: 10%;
  }

  #search-input {
    height: 35px;
    max-width: 80%;
    font-size: 14px;
  }

  header {
    height: 50vh;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  #book-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }

  .bookCard {
    padding: 1em;
    max-width: 80%;
  }

  .container-description {
    max-width: 100%;
  }

  .description {
    text-align: center;
    line-height: 1.8;
 }

 
 .fa-sharp {
  font-size: 15px;
  height: 15px;
  position:relative;
  top: 0;
  left: 10px;
  color: black;
}
}