@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 18px;
  background-color: rgb(253, 252, 244);
}
.container {
  max-width: auto;
}
h1 {
    color: rgb(255, 255, 255);
    font-size: 6rem;
    text-align: center;
    font-weight: bold;
  }

  #bar {
    margin: 0 auto;
    width:575px;
    border-radius:30px;
    border:1px solid #dcdcdc;
    background-color: white;
    position: absolute;
    top: 65%;
    left: 35%;
  }

  #bar:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
  }

  #bar:focus-within {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
  }

  #search-input {
  height:45px;
  border:none;
  width:500px;
  font-size:16px;
  outline: none;
  background-color: transparent;
  border-radius:30px;
  margin-left: 15px;
  }



  header {
    height:  100vh;
    width: 100%;
    background: linear-gradient(rgba(141, 39, 174, 0.3), rgba(141, 39, 174, 0.5)), url('../img/library-img.jpg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 

  .fa-sharp {
    font-size: 20px;
    height:20px;
    position:relative;
    top: 5px;
    left:10px;
    color: black;
  }

  #search-button {
    background-color: transparent;
    border: none;
  }

  #search-button:hover {
    cursor: pointer;
    color: blueviolet;
  }

  h2 {
    color: white;
    font-size: 2rem;
    opacity: 0.5;
  }


  #books {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

h3 {
  font-size: 2rem;
}
#book-list {
  color: black;
  opacity: 1;
  margin-bottom: 50px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(900px, 1fr));
  grid-template-rows: auto;
  grid-gap: 1rem;
  text-align: center;
}

.description {
   text-align: center;
   line-height: 1.8;
}

.container-description {
        max-width: 900px;
}

.bookCard {
  text-align: center;
  padding: 3rem;
  border: 1px solid black;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
}

